{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 100,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "endOfLine": "crlf",
  "overrides": [{ "files": ["*.css", "*.html"], "options": { "tabWidth": 4 } }]
}
